h1{
    color: darkorchid;
    
  display: flex;
  align-items: center;
  justify-content: center;
}
img{
    width: 400px;
    height: auto;
}
p{
    
  display: flex;
  align-items: center;
  justify-content: center;
}
div {
    text-align: center;
  }