h1{
    color: blue;
    font-size: 36px;
}
a {
  color: red;
}
a:hover{
  color: green;
}
h2{
    color: black;
    font-size: 20px;   
    border-left: 6px solid red;
    border-bottom: 6px solid red;
}
.pp{ text-decoration: line-through;}
img{
   border: 3px solid gray;
}
img:hover{
      border: 3px solid pink;
}
