h1 {
  /* 將文字顏色設置為藍色 */
  color: blue;
  font-size: 28px;
  border-left: 10px solid skyblue;
  border-right: 10px solid darkblue;
  border-top: 10px solid yellowgreen;
  border-bottom: 10px solid darkgreen;
}
h1:hover {
  color: green;
  font-size: 36px;
}
p {
  font-size: 16px;
  line-height: 2;
  text-align: left;
  text-indent: 32px;
  letter-spacing: 2px;
}
.skyblue {
  color: blue;
}
a:hover {
  font-size: 20px;
  color: aqua;
}
