h1 {
    color: palevioletred;             
    font-family:Helvetica, Arial, sans-serif;
    font-size: 32px;                 
}

p{
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.ascii-art {
    font-family: "Courier New", Courier, monospace;
    white-space: pre; 
    font-size: 12px; 
    line-height: 12px; 
}