* {
    font-family: 'JetBrains Mono', monospace;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #1c1c1c;
    overflow: hidden;
}

.namecard {
    width: 380px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem;
    background-color: #080808;
    letter-spacing: 0.08rem;
    color: #ffffff;
    overflow: hidden;
    border-radius: .8rem;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.7);
    position: relative;
}

.namecard h2 {
    font-weight: 700;
    margin-bottom: 5px;
    color: #FFD700;
    line-height: 1.2;
}

.namecard h5 {
    color: #aaaaaa;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;
}

.namecard p {
    line-height: 1.5;
    color: #888888;
    margin-top: 5px;
    font-size: 13px;
}

.namecard hr {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    margin: 10px 0;
}

.triangle {
    width: 0;
    height: 0;
    position: absolute;
    border-radius: .6rem;
}

.triangle1 {
    right: 30px;
    bottom: 30px;
    border-top: solid 40px #FFD700;
    border-right: solid 40px transparent;
    transform: rotate(-135deg);
    opacity: 0.8;
}

.triangle2 {
    right: -100px;
    top: -50px;
    border-top: solid 180px rgba(255, 255, 255, 0.1);
    border-right: solid 180px transparent;
    transform: rotate(-45deg);
}

.triangle3 {
    right: 0px;
    bottom: 0px;
    border-top: solid 60px rgba(255, 255, 255, 0.08);
    border-right: solid 60px transparent;
    transform: rotate(-45deg);
}