* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}
header {
  background-color: bisque;
  height: 100%;
}
h2 {
  font-size: 3rem;
  padding: 2rem;
  font-weight: 300;
}
main {
  height: 60vh;
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}
.description {
  width: 30vw;
  height: 100%;
  margin: 1rem;
  border: 3px solid brown;
  border-radius: 10px;
  padding: 1rem 1.5rem 0.5rem 1rem;
}
p {
  font-size: 1.25rem;
  margin: 1rem;
}
span {
  color: rgb(77, 18, 18);
  font-weight: 500;
}
.top {
  height: 70%;
}
.bottom {
  text-align: right;
  margin-left: 55%;
  color: rgb(63, 59, 59);
  background-color: bisque;
  font-size: 1rem;
}
img {
  height: 100%;
  margin: 1rem;
  border-radius: 10px;
}
