body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f4f4f4;
}

header {
  background-color: #565555;
  color: white;
  padding: 20px;
}

main {
  padding: 20px;
}

/*h2 {
  color: #333;
}*/

ul {
  list-style-type: none;
  padding: 0;
}

button {
  background-color: #007bff;
  color: rgb(240, 220, 220);
  border: none;
  padding: 10px 20px;
  margin-bottom: 100px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
footer {
  background-color: #333;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
