h1{
    color: blue;
    font-size: 30px;
}

p{
    font-size: 32px;
    line-height: 1.5;
    text-indent: 32px;
  
}

a{
  color: red;
}
  a:hover{
    color: blue;
   
  }
h2{
  font-size: 20px;
  line-height: 1.5;
  border-left: 5px solid red;
  border-bottom: 5px solid red;
  
}
img{border:5px solid black;
}
.style1{
  text-decoration: line-through;

}