html {
  width: 100%;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(60deg, #ccc 0%, #fff 100%);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}
body * {
  margin: 0 auto 20px;
}
h1 {
  color: #333;
  text-align: center;
}
img {
  display: block;
  width: 100%;
  max-width: 300px;
  border-radius: 20px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
}
a {
  display: block;
  padding: 12px 30px;
  background-color: #333;
  border-radius: 50px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  width: fit-content;
  transition: all ease 0.3s;
}
a:hover {
  background-color: darkgoldenrod;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
