h1{
    color: chocolate;
    font-size: 36px;
    text-align: center;
}

h2{
    display: inline;
    color: navy;
    font-size: 28px;
    border-bottom: 4px solid grey;
    letter-spacing: 2px;
}

p{
   color: black;
   font-size: 24px;
   font-family: 微軟正黑體; 
   line-height: 28px;
   text-align: justify;
   text-indent: 36px;
   text-decoration: none;
   letter-spacing: normal;
}

.style1{
    color: blue;
    font-weight: bold;
    font-size: 24px;
}

a{
    color: sienna;
    text-decoration: none;
    font-family: Verdana;
    font-size: 20px;
    text-decoration: underline;
}

li{
    color: black;
    font-size: 20px;
    font-family: 微軟正黑體;
    line-height: 26px;
}

a:hover{
    color: blue;
    font-size: 20px;
    text-decoration: underline;
}

a:active{
    color: green;
}
